body {
    font-family: Arial, sans-serif;
    text-align: center;
} 

#resultado span {
    font-size: 1.5em;
}

/* Colores de los fonemas */
.igual {
    color: black;
}

.similar {
    color: blue;
}

.diferente {
    color: red;
}